.color_scheme {
  display: grid;
  gap: 24px;
}

.colors {
  display: grid;
  grid-auto-flow: column;

  @media screen and (max-width: 596px) {
    margin: auto;
  }
}

.color {
  position: relative;
}

.button {
  margin: auto;
  display: grid;
  grid-auto-flow: column;
}

.line {
  width: 2px;
  height: 100%;
}
