.color_scheme {
  position: relative;
  width: 300px;
  height: 220px;
}

.color_result {
  position: absolute;
  right: 97px;
  top: 14px;
}

.color_picker1 {
  position: absolute;
}

.color_picker2 {
  position: absolute;
  right: 0;
}

.button {
  position: absolute;
  right: 134px;
  bottom: 0px;
}
