.container {
  height: 100vh;
}

.content {
  display: grid;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 596px) {
    margin-top: 24px;
    position: relative;
    top: initial;
    left: initial;
    transform: none;
  }
}

.result_copy_content {
  position: relative;
  margin: auto;
  text-align: center;
}

.result_color {
  width: 256px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  &:hover + .copy_status {
    position: absolute;
    display: block;
    font-size: 14px;
    top: -34px;
    right: 0px;
    font-weight: bold;
  }

  &:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 4px;
    top: -10px;
    right: -10px;
    z-index: -1;
  }
}

.copy_status {
  display: none;
}
